.dealerlist-page-wrapper {
  background: #f9f9f9;
  min-height: 100vh;
  padding-top: 54px; /* NavBar 높이 고려 */
}

.dealerlist-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dealerlist-card-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}
