.dealerlist-page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬 */
  box-sizing: border-box;
  background-color: #fff;
}

.dealerlist-page-content {
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 24px 20px;
}


.dealerlist-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;  /* ✅ 이거 꼭 필요함 */
  gap: 16px;
  margin-top: 24px;
}