/* 1rem : 16px로 고려 */

/* Survey 컨테이너 */
.survey {
  max-width: 375px;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  padding: 0 1rem; /* 0 16px */
}

/* Content */
.survey-contents {
  flex: 1;
  padding-bottom: 100px;
}

.survey-contents-title {
  font-size: 1.625rem; /* 26px */
  font-weight: 700; 
  margin-bottom: 0.5rem; /* 8px */
  line-height: 130%;
  letter-spacing: -2.5%;
  white-space: pre-line;
}

.survey-contents-subtitle {
  color: #505050;
  font-weight: 400;
  size: 1rem; /*16px*/
  margin-bottom: 3.25rem; /* 52px */
  line-height: 130%;
  letter-spacing: -2.5%;
}

/* Options Grid */
.survey-contents-grid {
  display: grid;
  gap: 0.5rem; /* 8px */
  grid-template-columns: repeat(2, 1fr); /* 기본 2열 */
}

/* Option Button */
.survey-contents-button {
  padding: 1rem; /* 16px */
  border-radius: 0.75rem; /* 12px */
  border: 0.0625rem solid #0000001F; /* 1px */
  text-align: center;
  background-color: #00000008;
  color: #505050; 
  cursor: pointer;
  font-size: 1rem; /* 16px */
  font-weight: 600;
  letter-spacing: -2.5%;
  white-space: nowrap;
}

.survey-contents-button.selected {
  border-color: #95E700; /* Lime Dark */
  background-color: #0000000D;
  color: #303030; 
  font-weight: 800;
  padding: 1rem;
}

/* Next Button */
.survey-next-button {
  
  position: fixed;
  bottom: 3.625rem; /*58px*/
  left: 0;
  right: 0;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;

  height: 2.5rem; /* 40px */
  background-color: #95E700; /* Lime Dark */
  color: white;
  border-radius: 9999px; 
  border: none;
  cursor: pointer;

  font-size: 1.25rem; /*20px*/
  font-weight: 600;

  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.20);

  z-index: 100;
}

.survey-next-button:disabled {
  background-color: #00000040;
}

@media (max-width: 768px) {
    .survey {
        max-width: 100%;
  }
}

/* Debug Info */
/* .p-4 {
  padding: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
} */
